{%load static%}
{%load blog_tags%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<title>{%block title%}{%endblock%}</title>
</head>
<body>
	<div class='main'>
		{%block content%}
{%endblock%}
	</div>
	<div class='sidebar'>
		<h1>My blog</h1>
		<h3> I wrote {% total_posts%} posts for my website</h3>
		<h2> Latest posts:</h2>
		{% show_latest_posts 3 %}
		<h2> most commented posts:</h2>
		
		<ul>
		{% get_most_commented_posts as most_commented_posts %}
		{% for post in most_commented_posts %}
		<li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>

</body>
</html>